
<%= link_to "Goals", goals_path %> >> Tasks

<h1>My Tasks</h1>

<table cellspacing="10">
    <tr>
        <th>Goal</th>
        <th align="left">Name</th>
        <th>Is finished</th>
        <th>Actions</th>
    </tr>

	<% @tasks.each do |task| %>
        <tr>
            <td><%= link_to task.goal.name, goal_path(task.goal.id) %></td>
            <td><%=h task.name %></td>
            <td><%=h task.is_finished %></td>
            <td><%= link_to 'Details', task %></td>
            <td><%= link_to 'Change', edit_task_path(task) %></td>
            <td><%= link_to 'Remove', task, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
    <% end %>
</table>


<br />
<br />
<br />
<br />
<br />


<div id="accordion" style="background-color: #F7FF00; margin-right: 70%; padding: 10px">
    <h2>In Progress</h2>

    <% @tasks.each do |task| %>
        <% if !task.is_finished %>
            <a href="#"><%= task.goal.name %></a>
            - 
            <%=h task.name %>
            <br />
        <% end %>
    <% end %>
</div>


<br />
<br />
<br />


<%= link_to 'Add Task', new_task_path %>

