
<p>
  <b>Task ID:</b>
  <%=h @task.id %>
</p>

<p>
  <b>Task Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Is finished:</b>
  <%=h @task.is_finished %>
</p>

<br />

<p>
  <b>Goal:</b>
  <%#=h @task.goal_id %>
  <%#=h @task.goal.name %>
  <%= link_to @task.goal.name, goal_path(@task.goal) %>
</p>


<%= link_to 'Change', edit_task_path(@task) %> |
<%= link_to 'All', tasks_path %>
