
<%= link_to "Goals", goals_path %> >> <%= link_to "Tasks", tasks_path %> >> Tasks for Goal

<br />
<br />

<h1>Tasks for Goal: <%= link_to @goal.name, goal_path(@goal.id) %> </h1>

<table cellspacing="10">
  <tr>
    <!-- <th>Goal Name</th> -->
    <th align="left">Task Name</th>
    <th>Is finished</th>
    <th>Actions</th>
  </tr>

<% @tasks.each do |task| %>
  <% if task.is_finished == true %>
    <tr style="background-color: #bbbbbb">
  <% else %>
    <tr>
  <% end %>
    <%#= link_to task.goal.name, goal_path(task.goal.id) %>
    <td><%=h task.name %></td>
    <td><%=h task.is_finished %></td>
    <td class="small-link"><%= link_to 'Details', task %></td>
    <td class="small-link"><%= link_to 'Change', edit_task_path(task) %></td>
    <td class="small-link"><%= link_to 'Remove', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<% if @tasks.blank? %>
    &nbsp; &nbsp; &nbsp; <span style="font-style: italic">No tasks yet</span>
<% end %>

<br /> 
<br /> 
<br /> 
<br /> 

<%= link_to 'Add Task', new_task_path %>
