
/* 
  Colors
  light yellow: #F0E68C
  dark red: #AC0101
*/


body
{
  background-color: #f0e68c;     /* light khaki */
  /* background-color: #fafae2; */    /* light goldenrod */
  /* background-color: #ffffe0; */    /* yellow mist */
  /* background-color: #ffffdd; */   /* very light hellow */
  /* background-color: #0337a7; */
  /* background-color: #043dc8; */
  /* background-color: #3073ff; */
}

a, a:visited {
  color: blue;
  text-decoration:none;
}



.centered 
{
  margin-left: auto; 
  margin-right: auto; 
  width: 800px;
}



.checkoff-cell {
  border: 2px #333333 solid;
  height: 30px;
  width: 30px;
}



.circleable a
{
  text-decoration: none;
}



div#content
{
  /* background-color: #fdfdf0; */    /* white orchid */
  /* background-color: #ecf1ef; */    /* far horizon */
  background-color: #fffff2;     /* pearly gates */
  min-height: 400px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-top: 30px;
}



.small-link {
  font-size: 70%;
}



div#user_nav
{
  float: right;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;

}



label.goal_detail_label {
  display: inline-block;
  width: 100px;
}



ul#goal_list
{
list-style: none;
margin-left: 0;
padding-left: 0;
}



li#goal_item
{
  list-style: none;
  /* background-image: url(/images/checkmark_h30_red.gif); background-repeat: no-repeat; background-position: 0 .5em; */
  padding-left: 20px;
  padding-top: 10px;
}

.yellow-button {
  background-color: #F0E68C;
  border: 1px #AC0101 solid;
  color: #AC0101;
  font-style: italic;
  padding: 2px 100px;
}



h1 + form {
  margin-top: 5px;
}

