<h1>Change Goal</h1>

<% form_for(@goal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <br />

  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>

  <br />

  <p>
    <%= f.label :is_complete %><br />
    <select name="complete_flag">
      <% if @goal.is_complete %>
          <option value="yes" selected="selected">Yes</option>
          <option value="no">No</option>
      <% else %>
          <option value="yes">Yes</option>
          <option value="no" selected="selected">No</option>
      <% end %>
    </select>
  </p>

  <br />
  <br />

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<br />
<br />


<%= link_to 'Show', @goal %> |
<%= link_to 'Back', goals_path %>

