
<!-- <div id="goal_link_div" style="float:left; padding: 2px 8px; width: 40px; height: 30px" onMouseOver="document.getElementById('goal_link_div').style.background = 'url(/images/circle_it_50.png) no-repeat left top';" onMouseOut="document.getElementById('goal_link_div').style.background = 'none';"> -->


<% if user_signed_in? %>	
    <div id="goal_link_div" class="circleable" style="float:left; padding: 2px 8px; width: 40px; height: 30px" >
    Goals &nbsp;&nbsp;
    </div>


    <div style="float:left">
    >> 
    </div>

    <div id="task_link_div" class="circleable" style="float:left; padding: 2px 8px; width: 40px; height: 30px" >
        <%#= link_to "Tasks", tasks_path, :id => "id_tasks_link" %>Tasks
    </div>

<% end %>


<div style="clear:both"/>


<% if user_signed_in? %>
	<h1>My Goals</h1>

    <% if @goals.blank? %>
        <span style="font-size:150%; font-style:italic">No goals found</span>
		<br />
		<br />

    <% else %>
    	<table cellspacing="10">
    		<tr>
    			<th align="left">&nbsp;</th>
	 			<th align="left">Name</th>
			    <th align="left">Actions</th>
		  </tr>
		  <!-- TO DO: should not mix td and li tags, choose only one -->
		  <ul id="goal_list">
			  <% @goals.each do |goal| %>
				<% if goal.is_complete == true %>
				  <tr data-id="<%= goal.id %>" style="opacity:0.5">
                <% else %>
				  <tr data-id="<%= goal.id %>">
                <% end %>
					<td align="right" valign="bottom" class="checkoff-cell">
						<% if goal.is_complete == true %>
							<li id="goal_item" class="complete-goal" style = "background: url(/images/checkmark_h30_red.gif) no-repeat right center">
								&nbsp;
							</li>
						<% else %>
							<li id="goal_item" class="incomplete-goal" onMouseOver="javascript: this.style.background = 'url(/images/checkmark_h30_red.gif) no-repeat right center'; " onMouseOut="this.style.background = 'none';">
								&nbsp;
							</li>
						<% end %>
					</td>
					<td >
						<%=h goal.name %>
					</td>
					<td align="left" valign="middle">
						<span style="font-size:0.8em; font-style:italic;">
								&nbsp;
								<%= link_to 'Details', goal %>
								&nbsp;&nbsp;
								<%= link_to 'View tasks', :controller => 'tasks', :action => 'tasks_for_goal', :id => goal.id %>
								&nbsp;&nbsp;
								<%= link_to 'Change', edit_goal_path(goal) %>
								&nbsp;&nbsp;
								<%= link_to 'Remove', goal, :confirm => 'Are you sure?', :method => :delete %>
						</span>
					</td>
				</tr>
			<% end %>
		  </ul>
	  </table>
    <% end %>

	<br />

    <div style="background-color: #f7ff00; left: -200px; 200px; position: relative; text-align: right; width: 300px;">
	  <%= link_to 'Add a Goal', new_goal_path %>
    </div>

<% else %>
	<br />
	<br />
	<h1>Goals and Tasks</h1>
	<br />
    <span style="text-transform: uppercase;">
  	  Friends don't let friends be disorganized!
    </span>
	<br />
<% end %>

<br />

