
<h1>New Goal</h1>


<% form_for(@goal) do |f| %>
  <%= f.error_messages %>

  <div style="display:table; padding: 10px; table-layout:fixed">
    <div style="display:table-row">
      <div style="display:table-cell; padding: 10px;">
        <%= f.label :name %>
      </div>
      <div style="display:table-cell">
        <%= f.text_field :name %>
      </div>
    </div>
    <div style="display:table-row">
      <div style="display:table-cell">
        <%= f.label :priority%>
      </div>
      <div style="display:table-cell">
        <%= f.select :priority, (1..5).to_a %>
      </div>
    </div>
  </div>

  <br />

   <p style="margin-left: 50px;">
     <%= f.submit 'Add' %>
   </p>
<% end %>


<br />


<div style="border-top-color:rgba(150,150,150,255); border-top-style:solid; border-top-width:1px; height:1px;width:50%; margin-bottom: 50px">
</div>


<span style="font-size:x-large">
    &sdot; <%= link_to 'Back', goals_path %>
</span>

