
<h1>Goal</h1>


<br />


<p>
  <label class="goal_detail_label">
    <b>Name</b>
  </label>
  <%=h @goal.name %>
</p>

<p>
  <label class="goal_detail_label">
    <strong>Priority</strong>
  </label>
  <%=h @goal.priority %>
</p>

<p>
  <label class="goal_detail_label">
    <b>Complete?</b>
  </label>
  <% if @goal.is_complete %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<br />

<p>
  (
  <%= link_to 'Tasks for this goal', tasks_for_goal_path(:id => @goal.id) %>
  )
</p>

<br />
<br />

<%= link_to 'Change Current Goal', edit_goal_path(@goal) %>
 &nbsp; | &nbsp;
<%= link_to 'All Goals', goals_path %>
