<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Goals: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'mystyles' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.2.custom.css' %>
  <%= javascript_include_tag 'jquery-1.4.2', 'jquery_btree_js_8', 'jquery-ui-1.8.2.custom.min.js', 'application' %>
  <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light&subset=Latin" /> -->
  <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cantarell" /> -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cuprum" />
  <style>
      body {
        /* font-family: 'Josefin Sans Std Light', arial, serif; */
        /* font-family: 'Cantarell', arial, serif; */
        font-family: 'Cuprum', arial, serif;
        font-size: 14px;
      }
  </style>

</head>
<body style="margin:0; padding:0"> 
	<!-- <body style="background: url('images/header_trees_blue.jpg')"> -->
	<div id="middle" class="centered" style="background: none; background-color: white;">
		<div id="header_spacer_top_black" style="background-color:#000000; height: 3px; margin-top: 0px;">
		</div>

		<div id="header" style="margin-top: 0px;">
			<%= image_tag("header_current.jpg") %>
		</div>

		<div id="spacers_below_header">
			<div id="header_spacer_black" style="background-color:#000000; height: 2px; margin-top: 0px;">
			</div>
			<div id="header_spacer_yellow" style="background-color:#f7ff00; height: 10px; margin-top: 0px;">
			</div>
			<div id="header_spacer_black" style="background-color:#000000; height: 1px; margin-top: 0px;">
			</div>
		</div>
		<div id="content">
			<div id="content_message_section"> 
				<% if flash[:notice] %>
					<span style="color: green">
						<%= flash[:notice] %>
					</span>
				<% end %>
				<% if flash[:alert] %>
					<span style="color: red;">
						<%= flash[:alert] %>
					</span>
				<% end %>
			</div>
			<div id="user_nav">
				<% if user_signed_in? %>
					<span style="background-color: #F7FF00; font-style:italic; padding: 1px 10px; letter-spacing: 1px;">Hello <%= current_user.username %> !</span>
					<span style="color:red; font-weight: normal;">|</span>
					<%= link_to "Sign out", destroy_user_session_path %>
				<% else %>
					<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
				<% end %>
			</div>

			<%= yield %>
        </div>
    </div>

    <div id="circle-it-container" style="z-index: 999; width: 50px; height: 50px; background-color: gray;">
        <!-- Circle It!!! -->
		<img id="circle-it-image" src="/images/circle_it_50.png" />
    </div>
</body>
</html>
