<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Goals: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'mystyles' %>
</head>
<body> 
<!-- <body style="background: url('images/header_trees_blue.jpg')"> -->

    <div id="middle" class="centered" style="background: none; background-color: white;">
        <div id="header">
            <%= image_tag("header_trees_blue.jpg") %> 
            <hr />
        </div>
        <div id="content">
            <p style="color: green"><%= notice %></p>

            <%= yield %>
        </div>
    </div>
</body>
</html>
